<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>University Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:insert="top :: header"></div>

<h1 th:text="${university.id != null ? 'Edit University' : 'Add New University'}"></h1>
<form method="post"
      th:action="@{${university.id != null ? '/categories/update/' + university.id : '/categories/add'}}"
      th:object="${university}">
    <label for="name">Name:</label>
    <input id="name" name="name" required th:field="*{name}" type="text"><br>
    <button type="submit">Submit</button>
</form>
<a th:href="@{/categories}">Back to Categories</a>
<div th:insert="botom :: footer"></div>
</body>
</html>

